<!--register.html-->

<!--Embed the header.html template at this location-->
{{ template "header.html" .}}

<h1>Adminka</h1>
<div class="col-sm-4">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Users</th>
            <th scope="col">Admin Users</th>
            <th scope="col">Settings 1</th>
            <th scope="col">Settings 2</th>
        </tr>
        </thead>
            <tbody>            
            <!-- {{$chek := .chek}} -->
            <!-- <form action="adminka.html" method="post"></form> -->
            {{range .userlist}}
            <tr>
                <td>{{.}}</td>
                <td>
                        <form action="/adminka" method="POST">
                        <input type="checkbox" name="cheked" value="true" id="true" />
                        <input type="submit" />
                        </form>
                </td>
            </tr>
            {{end}}
            <!-- </form> -->
            <!-- <td><input id="admin" type="checkbox" {{if .chek}} "checked" {{end}}></td> -->
        </tbody>
    </table>
</div>

<!--Embed the footer.html template at this location-->
{{ template "footer.html" .}}