<!--register.html-->

<!--Embed the header.html template at this location-->
{{ template "header.html" .}}

<h1>List Users</h1>
<div class="col-sm-4">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Age</th>
        </tr>
        </thead>
            <tbody>
                {{range .id}}
            <tr>
                    <td>{{.}}</td>
            </tr>
                {{end}}
                {{range .name}}
            <tr>
                <td>{{.}}</td>
            </tr>
                {{end}}
                {{range .age}}
            <tr>
                    <td>{{.}}</td>
            </tr>
                {{end}}

                <!-- {{range .}}
                <tr>
                    <td>{{.Member.Name}}</td>
                    <td>{{.Member.Family}}</td>
                    <td>{{.Member.Username}}</td>
                </tr>
                {{end}} -->
                
        </tbody>
    </table>
</div>

<!--Embed the footer.html template at this location-->
{{ template "footer.html" .}}