<!--editTable.html-->

<!--Embed the header.html template at this location-->
{{ template "header.html" .}}

<p></p>
<div class="card">
<h3 class="card-header">Редактирование</h3>
    <div class="card-body">
        <!--If there's an error, display the error-->
        {{ if .ErrorTitle}}
            <p class="bg-danger">
            {{.ErrorTitle}}: {{.ErrorMessage}}
            </p>
        {{end}}
        {{range $i, $e := .person}}
        <div class="col-sm-12">
            <form class="form" action="/operator" method="POST">
                <div class="form-row">
                    <div class="col">
                        <label class="sr-only" for="inlineFormInput">Имя заявителя</label>
                        <input type="text" name="name" class="form-control mr-sm-2 mb-2 mb-sm-0" id="name" value={{$e.Name}} placeholder="Имя посетителя">
                    </div>
                    <p></p>
                    <div class="col">
                        <label class="sr-only" for="inlineFormInput">Название услуги</label>
                        <select name="select" value={{$e.NameService}} class="form-control mr-sm-2 mb-2 mb-sm-0"> 
                            <option value="value1">Услуга 1</option>
                            <option value="value1">Услуга 2</option>
                            <option value="value1">Услуга 3</option>
                        </select>
                    </div>
                    <p></p>
                    <div class="col">
                        <label class="sr-only" for="inlineFormInput">Название под услуги</label>
                        <select name="select" value={{$e.NameService}} class="form-control mr-sm-2 mb-2 mb-sm-0"> 
                            <option value="value1">Услуга 1</option>
                            <option value="value1">Услуга 2</option>
                            <option value="value1">Услуга 3</option>
                        </select>
                    </div>
                </div>
                <p></p>
                <div class="form-row">
                    <div class="col">
                        <label class="sr-only" for="inlineFormInput">Дата</label>
                        <!-- <input id="date" type="date"> -->
                        <input type="datetime-local" name="datetime" class="form-control" id="date" value={{$e.Date}} placeholder="Дата">
                    </div>
                    <p></p>
                    <div class="col">
                        <label class="sr-only" for="inlineFormInput">Адрес</label>
                        <input type="text" name="text" class="form-control" id="text" value={{$e.Address}} placeholder="Адрес">
                    </div>
                    <p></p>
                    <div class="col">
                        <label class="sr-only" for="inlineFormInput">Телефон</label>
                        <input type="text" id="phone" value={{$e.Phone}} class="form-control">
                            <script>
                                $(function(){
                                //Использование параметра completed
                                    $("#phone").mask("8(999) 999-9999");
                                });
                            </script>
                    </div>
                </div>
                <p></p>
                <button type="submit" class="btn btn-primary">Сохранить</button>
            </form>
        {{end}}
        </div>
    </div>
</div>
<!--Embed the footer.html template at this location-->
{{ template "footer.html" .}}