<!--footer.html-->
    </div>

    <!-- bootstrap -->
    <!-- <script src="assets/jquery-3.3.1.min.js"></script>
    <script src="assets/popper.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script> -->
    
    <!-- bootstrap-table -->
    <!-- <script src="assets\bootstrap-table\dist\bootstrap-table.min.css"></script>
    <script src="assets\bootstrap-table\dist\bootstrap-table.min.js"></script>
    <script src="assets\bootstrap-table\src\locale\bootstrap-table-ru-RU.js"></script> 

    <script type="text/javascript" src="assets/tableExport/tableExport.js"></script>
    <script type="text/javascript" src="assets/tableExport/jquery.base64.js"></script>
    <script type="text/javascript" src="assets/tableExport/jspdf/libs/sprintf.js"></script>
    <script type="text/javascript" src="assets/tableExport/jspdf/jspdf.js"></script>
    <script type="text/javascript" src="assets/tableExport/jspdf/libs/base64.js"></script> -->

    <!-- <script src="../assets/table.js"></script> -->

    <!-- <script src="assets/bootstrap-table/src/extensions/filter-control/bootstrap-table-filter-control.js"></script>
    <script src="assets/bootstrap-table/src/extensions/export/bootstrap-table-export.js"></script>
    <script src="//rawgit.com/hhurz/tableExport.jquery.plugin/master/tableExport.js"></script> -->
</body>

</html>