<!--header.html-->

<!doctype html>
<html>
  <body>
    <!-- <div class="container"> -->
    <head>
        <link rel="shortcut icon" type="image/ico" href="/assets/favicon.ico">
        <!--Use the `title` variable to set the title of the page-->
        <title>MFC_LogWork</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <!-- Local -->
        <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
        <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.5.2/css/buttons.bootstrap4.min.css">
        
        <!-- <link rel="stylesheet" href="/node_modules/x-editable/dist/bootstrap-editable/css/bootstrap-editable.css"> -->
        <!-- <link rel="stylesheet" href="/node_modules/bootstrap-table/dist/extensions/filter-control/bootstrap-table-filter-control.css"> -->
        <script src="/node_modules/jquery/dist/jquery.min.js"></script>
        <script src="/node_modules/popper.js/dist/popper.min.js"></script>  
        <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

        <!-- <link rel="stylesheet" href="/node_modules/bootstrap-table/dist/bootstrap-table.min.css"> -->
        <!-- <link rel="stylesheet" href="/node_modules/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css"> -->
        <!-- <script src="/node_modules/bootstrap-table/dist/bootstrap-table.min.js"></script> -->
        <!-- <script src="/node_modules/bootstrap-table/dist/locale/bootstrap-table-ru-RU.min.js"></script> -->
        <!-- <script src="/node_modules/bootstrap-table/dist/extensions/editable/bootstrap-table-editable.js"></script> -->
      
        <!-- <script src="/node_modules/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script> -->
        <!-- <script src="/node_modules/bootstrap-datepicker/dist/locales/bootstrap-datepicker.ru.min.js"></script> -->
        <!-- <script src="/node_modules/bootstrap-table/dist/extensions/export/bootstrap-table-export.js"></script> -->
        <!-- <script src="/node_modules/bootstrap-table/dist/extensions/filter-control/bootstrap-table-filter-control.js"></script> -->

        
        <!-- <link rel="stylesheet" href="/web/MyTableExport.css"> -->
        <script src="/web/MytableExport.js"></script> 

        <script src="//api-maps.yandex.ru/2.1/?lang=ru_RU&amp;load=SuggestView&amp;onload=onLoad"></script>
        <script src="/node_modules/jquery.maskedinput/src/jquery.maskedinput.js"></script>
        <script src="/node_modules/tableexport.jquery.plugin/tableExport.min.js"></script>

        <!-- <script src="/web/TableExport/js/jquery.base64.js"></script> -->
        <!-- <script src="/node_modules/tableexport.jquery.plugin/bower_components/jquery/dist/jquery.min.js"></script> -->
        <!-- <script src="/node_modules/tableexport.jquery.plugin/libs/es6-promise/es6-promise.auto.min.js"></script> -->
        <!-- <script src="/node_modules/tableexport.jquery.plugin/libs/pdfmake/pdfmake.min.js"></script> -->
        <!-- <script src="/node_modules/tableexport.jquery.plugin/libs/jsPDF-AutoTable/jspdf.plugin.autotable.js"></script> -->
        <!-- <script src="/web/TableExport/js/jspdf/jspdf.js"></script> -->
        <!-- <script src="/node_modules/tableexport.jquery.plugin/libs/jsPDF/jspdf.min.js"></script> -->

        <!-- <script src="/web/TableExport/js/jspdf/libs/base64.js"></script> -->
        <!-- <script src="/web/TableExport/js/jspdf/libs/sprintf.js"></script> -->
        <!-- <script src="/web/TableExport/js/FileSaver.min.js"></script> -->
        <!-- <script src="/node_modules/tableexport.jquery.plugin/libs/FileSaver/FileSaver.min.js"></script> -->
        
        <!-- <script src="/web/TableExport/js/xls.core.min.js"></script> -->
        <!-- <script src="/web/TableExport/js/xlsx.core.min.js"></script> -->
        <!-- <script src="/node_modules/tableexport.jquery.plugin/libs/js-xlsx/xlsx.core.min.js"></script> -->
        
        <!-- <script src="/web/tableExport/js/html2canvas.js"></script>   -->
        <!-- <script src="/node_modules/tableexport.jquery.plugin/libs/html2canvas/html2canvas.min.js"></script> -->

        <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.bootstrap4.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
        <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.print.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.colVis.min.js"></script>

        <!-- https://code.jquery.com/jquery-3.3.1.js -->
        
        <!-- 
        <script src="/web/TableExport/js/jquery.base64.js"></script>
        <script src="/web/TableExport/js/jspdf/jspdf.js"></script>
         <script src="/web/TableExport/js/jspdf/libs/base64.js"></script>
        <script src="/web/TableExport/js/jspdf/libs/sprintf.js"></script>
        <script src="/web/TableExport/js/FileSaver.min.js"></script>
        <script src="/web/TableExport/js/xls.core.min.js"></script>
        <script src="/web/TableExport/js/xlsx.core.min.js"></script>
        <script src="/web/tableExport/js/html2canvas.js"></script>  
        -->



        <!-- CDN -->
        <!--Use bootstrap to make the application look nice-->
        <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script> -->

        <!-- Latest compiled and minified CSS -->
        <!-- <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.1/bootstrap-editable/css/bootstrap-editable.css">
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.css">
        <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/locale/bootstrap-table-ru-RU.min.js"></script>

        <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/extensions/editable/bootstrap-table-editable.js"></script>

        
        <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/extensions/filter-control/bootstrap-table-filter-control.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.min.js"></script> -->
        <!-- <script src="//rawgit.com/hhurz/tableExport.jquery.plugin/master/tableExport.js"></script> -->
    </head>

    {{ template "menu.html" . }}