<!--register.html-->

<!--Embed the header.html template at this location-->
{{ template "header.html" .}}

<h1>Register</h1>

<div class="panel panel-default col-sm-6">
    <div class="panel-body">
        <!--If there's an error, display the error-->
    {{ if .ErrorTitle}}
        <p class="bg-danger">
        {{.ErrorTitle}}: {{.ErrorMessage}}
        </p>
    {{end}}
    {{range .}}<tr>
        {{range rangeStruct .}} <td>{{.}}</td>
        {{end}}</tr>
    {{end}}
    </div>
</div>


<!--Embed the footer.html template at this location-->
{{ template "footer.html" .}}