<!--register.html-->

<!--Embed the header.html template at this location-->
{{ template "header.html" .}}

<h1>List Users</h1>

<div class="col-sm-9">
    <table class="table">
            <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">First</th>
                      <th scope="col">Last</th>
                      <th scope="col">Handle</th>
                    </tr>
            </thead>
            <tbody>
                    <tr>
                        {{range .listusers}}
                        <th scope="row">1</th>
                        <td>{{.}}</td>
                        {{end}}
                    </tr>
            </tbody>
    </table>
</div>

<!--Embed the footer.html template at this location-->
{{ template "footer.html" .}}