<!--login.html-->

<!--Embed the header.html template at this location-->
{{ template "header.html" .}}

<h1>Login</h1>



<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="panel-body">
                <!--If there's an error, display the error-->
                {{ if .ErrorTitle}}
                    <p class="bg-danger">
                    {{.ErrorTitle}}: {{.ErrorMessage}}
                    </p>
                {{end}}
                <!--Create a form that POSTs to the `/u/login` route-->
                <form class="form" action="/makeadmin" method="POST">
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" class="form-control" id="username" name="username" placeholder="Username">
                    </div>
                    <button type="submit" class="btn btn-primary">Confirm</button>
                </form>
            </div>
        </div>
    </nav>
</div>


<!--Embed the footer.html template at this location-->
{{ template "footer.html" .}}