<!--menu.html-->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img style=" width: 34px;" src="https://res.cloudinary.com/disputebills/image/upload/v1462474206/blue-mark_cnzgry.png" alt="">  МФЦ
            <!-- <img style=" width: 34px;" src="../assets/brand/blue-mark_cnzgry.png" alt="">  МФЦ -->
        </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                {{ if .is_logged_in }}
                    <!-- <li class="nav-item active">
                        <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
                    </li> -->
                    <li class="nav-item">
                        <a class="nav-link" href="/operator">Оператор</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/controller">Контроллер</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/history">История</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/report">Отчеты</a>
                    </li>
                {{end}}
                    <!-- <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li> -->

                {{ if .is_logged_in }}
                    <li class="nav-item">
                        <a class="nav-link" href="/adminka">Админка</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Выход</a>
                    </li>
                    <!-- <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li> -->
                    <!-- <li class="nav-item">
                        <a class="nav-link disabled" href="#">Disabled</a>
                    </li> -->
                {{end}}
                {{ if not .is_logged_in }}
                    <li class="nav-item">
                        <a class="nav-link" href="/register">Регистрация</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Вход</a>
                    </li>
                {{end}}
            </ul>
        </div>
    </div>
</nav>
