<!--menu.html-->

<nav class="navbar navbar-default">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <!-- <div class="collapse navbar-collapse" id="navbarSupportedContent"> -->
                <ul class="navbar-nav mr-auto">
                    {{ if .is_logged_in }}
                        <li class="nav-item active">
                            <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
                        </li>
                    {{end}}
                    {{ if not .is_logged_in }}
                        <li class="nav-item">
                            <a class="nav-link" href="/register">Register</a>
                        </li>
                    {{end}}
                    {{ if .is_logged_in }}
                        <li class="nav-item">
                            <a class="nav-link" href="/listusers">List users</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/makeadmin">Make admin users</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/delete">Delete users</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/visitors">Visitors</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/base">Base Users</a>
                        </li>
                    {{end}}
                    {{ if not .is_logged_in }}
                        <li class="nav-item">
                            <a class="nav-link" href="/login">Login</a>
                        </li>
                    {{end}}
                    {{ if .is_logged_in }}
                        <li class="nav-item">
                            <a class="nav-link" href="/adminka">Adminka</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/work">Work</a>
                        </li>
                        <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Dropdown
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/logout">Logout</a>
                        </li>
                        <!-- <li class="nav-item">
                            <a class="nav-link disabled" href="#">Disabled</a>
                        </li> -->
                    {{end}}
                </ul>
                <!-- <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-1" type="submit">Search</button>
                </form> -->
            <!-- </div> -->
        </nav>
    </div>
</nav>