<!--base.html-->

<!--Embed the header.html template at this location-->
{{ template "header.html" .}}

<h1>Регистрация услуги</h1>
<div class="container jumbotron">
    <div class="container">
        <div class="panel-body">
            <!--If there's an error, display the error-->
            {{ if .ErrorTitle}}
                <p class="bg-danger">
                {{.ErrorTitle}}: {{.ErrorMessage}}
                </p>
            {{end}}
            <form class="form-inline" action="/operator" method="POST">
                <div class="input-group mb-2 mr-sm-3 mb-sm-0">
                    <label class="sr-only" for="inlineFormInput">Имя посетителя</label>
                    <input type="text" name="name" class="form-control" id="name" placeholder="Имя посетителя">
                </div>
                <div class="input-group mb-2 mr-sm-3 mb-sm-0">
                    <label class="sr-only" for="inlineFormInput">Название услуги</label>
                    <input type="text" name="nameservice" class="form-control" id="nameservice" placeholder="Название услуги">
                </div>
                <div class="input-group mb-2 mr-sm-3 mb-sm-0">
                    <label class="sr-only" for="inlineFormInput">Дата</label>
                    <input type="text" name="date" class="form-control" id="date" placeholder="Дата">
                </div>
                <div class="input-group mb-2 mr-sm-3 mb-sm-0">
                    <label class="sr-only" for="inlineFormInput">Номер услуги</label>
                    <input type="text" name="number" class="form-control" id="number" placeholder="Номер услуги">
                </div>
                <button type="submit" class="btn btn-primary">Сохранить</button>
            </form>
        </div>
    </div>
</div>
       
<h1>Список услуги</h1>
<div class="container">
    <table id="table" 
           data-toggle="table"
           data-search="true"
           data-filter-control="true" 
           data-show-export="true"
           data-click-to-select="true">
        <thead>
            <tr>
                <th data-field="state" data-checkbox="true"></th>
                <th data-sortable="true">№</th>
                <!-- <th data-sortable="true" data-field="User">Оператор</th> -->
                <th data-sortable="true" data-field="Name">Имя посетителя</th>
                <th data-sortable="true" data-field="NameService">Название услуги</th>
                <th data-sortable="true" data-field="Date">Дата</th>
                <th data-sortable="true" data-field="Number">Номер услуги</th>
            </tr>
        </thead>
        <tbody>
                {{range $i, $e := .person}}
            <tr>
                <td class="bs-checkbox "><input data-index="{{$i}}" name="btSelectItem" type="checkbox"></td>
                <td>{{$i}}</td>
                <!-- <td>{{$e.User}}</td> -->
                <td>{{$e.Name}}</td>
                <td>{{$e.NameService}}</td>
                <td>{{$e.Date}}</td>
                <td>{{$e.Number}}</td>
            </tr>
            {{end}}
        </tbody>
    </table>
</div>

<!--Embed the footer.html template at this location-->
{{ template "footer.html" .}}