<!--report.html-->

<!--Embed the header.html template at this location-->
{{ template "header.html" .}}
<div class="container">
    <p></p>
    <div class="card">
    <h3 class="card-header">Выбор отчета</h3>
        <div class="card-body">
            <!--If there's an error, display the error-->
            {{ if .ErrorTitle}}
                <p class="bg-danger">
                {{.ErrorTitle}}: {{.ErrorMessage}}
                </p>
            {{end}}
            <div class="form-row">
                <div class="col-sm-12">
                    <p></p>
                    <form id="report" class="form" action="/report" method="POST">
                        <div class="form-row">
                            <div class="col">
                                <h6>Выберете отчет</h6>
                                <select name="report" id="report" class="form-control mr-sm-2 mb-2 mb-sm-0"> 
                                <option>Выберите отчета</option>
                                    <option value="report1">Отчет 1</option>
                                    <option value="report2">Отчет 2</option>
                                    <option value="report3">Отчет 3</option>
                                </select>
                            </div>
                        </div>
                    <p></p>
                    <button type="submit" form="report" class="btn btn-primary float-right">Выполнить</button>
                    </form>
                </div>
                <p></p>
                <div class="col-sm-12">
                    <p></p>
                    <form id="pdfexp" class="form" action="/pdfexp" method="POST">
                            <div class="form-row">
                                <div class="col">
                                    <h6>Отчет в формате PDF</h6>
                                    <select name="pdfexp" id="pdfexp" class="form-control mr-sm-2 mb-2 mb-sm-0"> 
                                    <option>Выберите отчета</option>
                                        <option value="report1">Отчет 1</option>
                                        <option value="report2">Отчет 2</option>
                                        <option value="report3">Отчет 3</option>
                                    </select>
                                </div>
                            </div>
                        <p></p>
                        <button type="submit" form="pdfexp" class="btn btn-primary float-right">Сохранить</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<p></p>
<div class="container-fluid">
    <div class="card">
        <h3 class="card-header panel-success white-text">Отчеты</h3>
        <div class="card-body">
            <table id="table" 
                    data-toggle="table"
                    data-filter-control="true"
                    data-search-align="left"
                    data-buttons-align="left"
                    data-page-size=20
                    data-page-list="20, 30, 50, 100"
                    data-show-export="true"
                    data-pagination="true"
                    data-click-to-select="true"
                    data-search="true">
                <thead>
                <tr>
                    <th data-field="state" data-checkbox="true"></th>
                    <th data-sortable="true">№</th>
                    <th data-sortable="true" data-filter-control="input" data-field="Name">Кол. посетителей</th>
                    <th data-sortable="true" data-filter-control="input" data-field="Name1">Кол. посетителей</th>
                    <th data-sortable="true" data-filter-control="input" data-field="Name2">Кол. посетителей</th>
                </tr>
                <script>
                        function Formatter(value) {
                            return value.substring(0,20) + "...";
                        }
                </script>
                </thead>
                    <tbody>
                        <tr>
                            <td class="bs-checkbox "><input data-index="1" name="btSelectItem" type="checkbox"></td>
                            <td>{{.count}}</td>
                            <td>{{.count}}</td>
                            <td>{{.count}}</td>
                            <td>{{.count}}</td>
                        </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!--Embed the footer.html template at this location-->
{{ template "footer.html" .}}