<!--adminka.html-->

<!--Embed the header.html template at this location-->
{{ template "header.html" .}}
<div class="container">
   <p></p>
<div class="card">
    <h3 class="card-header">Добавить Услуги</h3>
        <div class="card-body">
            <div class="col-sm-12">
                    <form enctype="multipart/form-data" class="form" action="/uploadService" method="POST">
                        <h6>Загрузить файл</h6>
                        <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <!-- <span class="input-group-text">Upload</span> -->
                                    <input type="submit" class="btn btn-primary btn-rounded btn-sm my-0"  value="Добавить" />
                                </div>
                            <div class="custom-file">
                                <label class="custom-file" id="customFile">
                                    <input type="file" accept="text/csv" id="uploadFile" class="custom-file-input" name="uploadFile" />
                                    <input type="hidden" name="token" value="{{.}}"/>
                                    <label class="custom-file-label" for="inlineFormInput">Выбрать файл</label>     
                                    <script>
                                        $(function() {
                                          $(document).on('change', ':file', function() {var input = $(this), numFiles = input.get(0).files ? input.get(0).files.length : 1,
                                                label = input.val().replace(/\\/g, '/').replace(/.*\//, '');input.trigger('fileselect', [numFiles, label]);
                                          });
                                          $(document).ready( function() {
                                              $(':file').on('fileselect', function(event, numFiles, label) {var input = $(this).parents('.custom-file').find('.custom-file-label'),
                                              log = numFiles > 1 ? numFiles + ' files selected' : label;if( input.length ) {input.text(log);} else {if( log ) alert(log);}});
                                          });
                                        });
                                    </script>
                                </label>
                            </div>
                        </div>
                    </form>
                <p></p>
                <form class="form" action="/addservice" method="POST">
                        <div class="form-row">
                            <div class="col">
                                <h6>Добавить тип услуги</h6>
                                <label class="sr-only" for="inlineFormInput">тип услуги</label>
                                <input type="text" name="type" class="form-control" id="type" placeholder="тип услуги">
                            </div>
                            <div class="col">
                                <h6>Добавить имя услуги</h6>
                                <label class="sr-only" for="inlineFormInput">имя услуги</label>
                                <input type="text" name="nameserv" class="form-control" id="nameserv" placeholder="имя услуги">
                            </div>
                            <div class="col">
                                <h6>Добавить имя под услуги</h6>
                                <label class="sr-only" for="inlineFormInput">имя услуги</label>
                                <input type="text" name="sybnameserv" class="form-control" id="sybnameserv" placeholder="имя под услуги">
                            </div>
                        </div>
                    <p></p>
                    <button type="submit" class="btn btn-primary float-right">Сохранить</button>
                </form>
            </div>

            <table id="table" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>№</th>
                            <th>Тип услуги</th>
                            <th>Имя услуги</th>
                            <th>Имя под услуги</th>
                            <th>Удалить</th>
                        </tr>
                    </thead>
                    <tbody>        
                    {{range $i, $e := .service}}
                    <tr>
                        <td>{{$i}}</td>
                        <td>{{$e.Type}}</td>
                        <td>{{$e.NameService}}</td>
                        <td>{{$e.SybNameService}}</td>
                        <td>
                            <form action="/removeval/Service/{{$e.ID}}" method="GET">
                                <button class="btn btn-danger btn-rounded btn-sm my-0" type="submit"><i class="fas fa-trash-alt"></i></button>
                            </form>
                        </td>
                    </tr>
                    {{end}}
                </tbody>
            </table>
        </div>
    </div>

<p></p>
<div class="card">
    <h3 class="card-header">Перечень услуг</h3>
        <div class="card-body">

            <div class="tree well">
                <ul>
                    <li>
                        <span class="badge badge-success"><i class="icon-minus-sign"></i> Федеральные</span>
                        <ul>
                            {{ range $i, $e := .service}}
                                {{if eq $e.Type "Федеральная"}}
                                <li>
                                    <span><i class="icon-minus-sign"></i> {{$e.NameService}}</span> 
                                    <ul>
                                        <li>
                                            <span><i class="icon-leaf"></i> {{$e.SybNameService}}</span>
                                        </li>
                                    </ul>
                                </li>
                                {{else}}
                                {{end}}
                            {{end}}
                        </ul>
                    </li>
                    <li>
                        <span class="badge badge-warning"><i class="icon-minus-sign"></i> Региональные</span>
                        <ul>
                            {{ range $i, $e := .service}}
                                {{if eq $e.Type "Региональная"}}
                                <li>
                                    <span><i class="icon-minus-sign"></i> {{$e.NameService}}</span>
                                    <ul>
                                        <li>
                                            <span><i class="icon-leaf"></i> {{$e.SybNameService}}</span>
                                        </li>
                                    </ul>
                                </li>
                                {{else}}
                                {{end}}
                            {{end}}
                        </ul>  
                    </li>
                    <li>
                        <span class="badge badge-warning"><i class="icon-minus-sign"></i> Муниципальные</span>
                        <ul>
                            {{ range $i, $e := .service}}
                                {{if eq $e.Type "Муниципальная"}}
                                <li>
                                    <span><i class="icon-minus-sign"></i> {{$e.NameService}}</span>
                                    <ul>
                                        <li>
                                            <span><i class="icon-leaf"></i> {{$e.SybNameService}}</span>
                                        </li>
                                    </ul>
                                </li>
                                {{else}}
                                {{end}}
                            {{end}}
                        </ul>  
                    </li>
                </ul>
            </div>

            <!-- tree -->
            <!-- <div class="tree well">
                <ul>
                    <li>
                        <span><i class="icon-folder-open"></i> Parent</span> <a href="">Goes somewhere</a>
                        <ul>
                            <li>
                                <span><i class="icon-minus-sign"></i> Child</span> <a href="">Goes somewhere</a>
                                <ul>
                                    <li>
                                        <span><i class="icon-leaf"></i> Grand Child</span> <a href="">Goes somewhere</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <span><i class="icon-minus-sign"></i> Child</span> <a href="">Goes somewhere</a>
                                <ul>
                                    <li>
                                        <span><i class="icon-leaf"></i> Grand Child</span> <a href="">Goes somewhere</a>
                                    </li>
                                    <li>
                                        <span><i class="icon-minus-sign"></i> Grand Child</span> <a href="">Goes somewhere</a>
                                        <ul>
                                            <li>
                                                <span><i class="icon-minus-sign"></i> Great Grand Child</span> <a href="">Goes somewhere</a>
                                                <ul>
                                                    <li>
                                                        <span><i class="icon-leaf"></i> Great great Grand Child</span> <a href="">Goes somewhere</a>
                                                    </li>
                                                    <li>
                                                        <span><i class="icon-leaf"></i> Great great Grand Child</span> <a href="">Goes somewhere</a>
                                                    </li>
                                                 </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <span><i class="icon-leaf"></i> Grand Child</span> <a href="">Goes somewhere</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <span><i class="icon-folder-open"></i> Parent2</span> <a href="">Goes somewhere</a>
                        <ul>
                            <li>
                                <span><i class="icon-leaf"></i> Child</span> <a href="">Goes somewhere</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div> -->
            
            <!-- <div class="tree">
                <ul>
                    <li>
                        <span><i class="icon-calendar"></i> 2013, Week 2</span>
                        <ul>
                            <li>
                                <span class="badge badge-success"><i class="icon-minus-sign"></i> Monday, January 7: 8.00 hours</span>
                                <ul>
                                    <li>
                                        <a href=""><span><i class="icon-time"></i> 8.00</span> &ndash; Changed CSS to accomodate...</a>
                                    </li>
                                </ul>
                            </li>
                            
            </div> -->

        </div>
</div>
<p></p>
<!--Embed the footer.html template at this location-->
{{ template "footer.html" .}}