<!--adminka.html-->

<!--Embed the header.html template at this location-->
{{ template "header.html" .}}
<div class="container">
   <p></p>
<div class="card">
    <h3 class="card-header">Добавить Услуги</h3>
        <div class="card-body">
            <div class="col-sm-12">
                    <form enctype="multipart/form-data" class="form" action="/uploadService" method="POST">
                        <h6>Загрузить файл</h6>
                        <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <!-- <span class="input-group-text">Upload</span> -->
                                    <input type="submit" class="btn btn-primary btn-rounded btn-sm my-0"  value="Добавить" />
                                </div>
                            <div class="custom-file">
                                <label class="custom-file" id="customFile">
                                    <input type="file" accept="text/csv" id="uploadFile" class="custom-file-input" name="uploadFile" />
                                    <input type="hidden" name="token" value="{{.}}"/>
                                    <label class="custom-file-label" for="inlineFormInput">Выбрать файл</label>     
                                    <script>
                                        $(function() {
                                          $(document).on('change', ':file', function() {var input = $(this), numFiles = input.get(0).files ? input.get(0).files.length : 1,
                                                label = input.val().replace(/\\/g, '/').replace(/.*\//, '');input.trigger('fileselect', [numFiles, label]);
                                          });
                                          $(document).ready( function() {
                                              $(':file').on('fileselect', function(event, numFiles, label) {var input = $(this).parents('.custom-file').find('.custom-file-label'),
                                              log = numFiles > 1 ? numFiles + ' files selected' : label;if( input.length ) {input.text(log);} else {if( log ) alert(log);}});
                                          });
                                        });
                                    </script>
                                </label>
                            </div>
                        </div>
                    </form>
                <p></p>
                <form class="form" action="/addservice" method="POST">
                        <div class="form-row">
                            <div class="col">
                                <h6>Добавить имя услуги</h6>
                                <label class="sr-only" for="inlineFormInput">имя услуги</label>
                                <input type="text" name="nameserv" class="form-control" id="nameserv" placeholder="имя услуги">
                            </div>
                            <div class="col">
                                <h6>Добавить тип услуги</h6>
                                <label class="sr-only" for="inlineFormInput">тип услуги</label>
                                <input type="text" name="type" class="form-control" id="type" placeholder="тип услуги">
                            </div>
                        </div>
                    <p></p>
                    <button type="submit" class="btn btn-primary float-right">Сохранить</button>
                </form>
            </div>
            
           
        </div>
    </div>

   
<p></p>
<div class="card">
    <h3 class="card-header">Перечень услуг</h3>
        <div class="card-body">
            <div class="col-sm-12">
                    <div id="tree"></div>
                    {{range $index, $val := .service}}
                    {{end}}
                    <script>
                        
                        $('#tree').tree({
                            dataSource: [ { text: 'foo', children: [ { text: 'bar' }, { text: 'bar' },{ text: 'bar' } ] },{ text: 'foo', children: [ { text: 'bar' }, { text: 'bar' },{ text: 'bar' } ] } ]
                        });
                    </script> 
            </div>
        </div>
</div>
<p></p>
<!--Embed the footer.html template at this location-->
{{ template "footer.html" .}}