<!--edit.html-->

<!--Embed the header.html template at this location-->

 <!-- hide modal window -->
 <form action="/edit" method="POST">
    <p>Check some colors</p>
    <label for="121">121</label>
    <input type="checkbox" name="persons" value="121" id="121" />
    <label for="122">122</label>
    <input type="checkbox" name="persons" value="122" id="122" />
    <label for="123">123</label>
    <input type="checkbox" name="persons" value="123" id="123" />
    <input type="submit" />
</form>

<!--Embed the footer.html template at this location-->

