<!--work.html-->

<!--Embed the header.html template at this location-->
{{ template "header.html" .}}

<h1>Work</h1>
<div class="container jumbotron">
    <div class="card card-block">
        <div class="container">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">User</th>
                    <th scope="col">Name</th>
                    <th scope="col">Age</th>
                    <th scope="col">Job</th>
                </tr>
                </thead>
                    <tbody>
                        {{range .person}}
                    <tr>
                        <td>{{.ID}}</td>
                        <td>{{.User}}</td>
                        <td>{{.Name}}</td>
                        <td>{{.Age}}</td>
                        <td>{{.Job}}</td>
                    </tr>
                        {{end}}
                </tbody>
            </table>
        </div>
    </div>
</div>

<!--Embed the footer.html template at this location-->
{{ template "footer.html" .}}